.active-object__title-box {
	display: flex;
	grid-column-gap: 20px;
	margin-bottom: 20px;
}

.active-object__save-button {
	@include primary-button();
	@include primary-button--filled();
	height: 40px;
	min-width: 100px;
}

.active-object__image {
	max-width: 100%;
}

.active-object__key {
	font-weight: 500;
}
