$bp-small-screen: 850px;
@import "~@metmuseum/marble/src/base/base";
@import "font-declarations";
@import "./components/active-object/active-object";
@import "./components/saved-object/saved-object";
@import "./components/sidebar/sidebar";

* {
	box-sizing: border-box;
}

body {
	@include typography-body-long();
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	&:visited,
	&:hover {
		color: inherit;
	}
}

h1, h2, h3, h4 {
	margin: 0 0 0.5em;
}

h1 {
	@include typography-h2();
	margin: 0;
}

.object-search-app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (orientation: landscape) {
		flex-direction: row;
	}
}

.object-search__section {
	padding: $spacing-xxs $spacing-component-margin $spacing-l;
	position: sticky;
	top: 0;
	flex-grow: 1;
	height: calc(100vh - 60px);
	overflow: scroll;
	@media (orientation: landscape) {
		position: relative;
		height: auto;
		overflow: auto;
	}
}

.object-search__input {
	width: 100%;
	padding: $spacing-micro;
	border-radius: 20px;
	margin-bottom: $spacing-xxs;
}

.saved-objects__header {
	@include typography-h3();
	margin: 0;
}

.saved-objects__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
	row-gap: $spacing-micro;
	position: sticky;
	top: 0;
}

.saved-objects__copy-link {
	@include button-reset();
	@include typography-link();
	align-self: center;
}
