.saved-object{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  align-items: center;
}

.saved-object__image {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 4px;
}

.saved-object__name {
	font-weight: 500;
	line-height: 1.2;
}
